# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.log
*.html
*.dag
Makefile.conf
tests_upcxx
*.dSYM
profiles
other
*.log.*
tools/__pycache__
*.dSYM/**

variadic
tutorial/tuto
.vscode
tests/tests_completion
tests/tests_comms_dag
tests/output_test.txt
tests/tests
tests/output_test_v2.txt

tests/mpi/tests_comms
tests/shared/tests_serialize
tests/shared/cholesky.dot
tests/shared/potf.dot

tests/mpi/tests_communicator

tests/mpi/tests_comms_internals

tests/mpi/ddot_test

tests/mpi/output\.txt

tests/mpi/cholesky
